; Based on https://raw.githubusercontent.com/johnlindquist/dotfiles/master/karabiner/karabiner.edn
; and https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn
; Tutorial: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md

{;
 :alone 500
 :delay 200
 :held 500
 :sim 200
 :simlayer-threshold 400

 :applications {:chrome ["com.google.Chrome"]
                :code ["com.microsoft.VSCode"]}

 :simlayers {:emoji-mode {:key :z}
             :d-mode {:key :d}
             :f-mode {:key :f}
             :open-mode {:key :semicolon}
             ;
             }

 :modifiers {;
             :cs [:command :shift]
             :ct [:command :control]
             ;
             }

 :templates {;
             :code-project "osascript -e 'tell application \"Visual Studio Code\" to activate' &&
                            open -a 'Visual Studio Code' %s -g %s
                            "
             :paste "osascript -e 'set the clipboard to \"%s\"
                                   tell application \"System Events\"
                                     keystroke \"v\" using command down
                                   end tell'"
             :focus "osascript -e 'tell application \"%s\" to activate'"
             ; 
             }

 :tos {;
       :emoji_picker {:key :spacebar :modi :ct} ;!CTspacebar
       :command_palette {:key :p :modi :cs} ; VS Code command palette
       }

 :main [;
        {:des "caps_lock"
         :rules [[:##escape :left_control nil {:alone :escape}]]}

        {:des "code"
         :rules [:code
                 [:left_command :left_command nil {:alone :command_palette}]
                 ;
                 ]}

        {:des "emoji"
         :rules [:emoji-mode
                 [:b [:paste "😊"]] ;blush
                 [:c [:paste "👏"]] ;clap
                 [:d [:paste "🧐"]] ;dignified
                 [:e :emoji_picker]
                 [:f [:paste "🤦‍♂️"]] ;facepalm️
                 [:g [:paste "😬"]] ;grimace
                 [:h [:paste "😍"]] ;heart-eyes
                 [:i [:paste "👀"]] ;I
                 [:j [:paste "😂"]] ;joking
                 [:l [:paste "❤️"]] ;love
                 [:m [:paste "🤯"]] ;mind blown 
                 [:n :emoji_picker]
                 [:p [:paste "🎉"]] ;party
                 [:q [:paste "🤫"]] ;quiet
                 [:r [:paste "🚀"]] ;rocket
                 [:s [:paste "😢"]] ;sad
                 [:t [:paste "🤔"]] ;thinking
                 [:u [:paste "🤷‍♂️"]] ;shrUg
                 [:v [:paste "😎"]] ;very cool
                 [:w [:paste "😉"]] ;wink:
                 [:x [:paste "😵"]] ;x-eyes
                 [:y [:paste "😅"]] ;sweatY
                 [:left_command [:paste "👍"]]
                 [:left_option [:paste "👎"]]]}
            ; 
        {:des "d-key (mouse)"
         :rules [:d-mode
                 [:i :!Ckeypad_plus] ; Zoom in
                 [:o :!Ckeypad_hyphen] ; Zoom out
                 [:a [:!Ctab]] ; Activate previous app
                 [:j {:mkey {:vwheel 60}}] ; Scroll down
                 [:k {:mkey {:vwheel -60}}]] ; Scroll up
         }

        {:des "open files"
         :rules [:open-mode
                 [:k [:code-project "~/.janklimo-dotfiles/karabiner.edn"]]
                 ;
                 ]}

        {:des "f-key (focus)"
         :rules [:f-mode
                 [:e [:focus "MacVim"]] ; editor
                 [:h [:focus "Github Desktop"]]
                 [:i [:focus "iTerm2"]]
                 [:s [:focus "Visual Studio Code"]] ; studio
                 [:w [:focus "Chrome"]] ; web
                 ]}]
     ;
 }
